[project]

name = "seadexarr"
version = "0.9.0"
description = "SeaDex Starr Sync"
readme = "README.md"
requires-python = ">=3.11"
license = {file = "LICENSE"}

authors = [
    {name = "bbtufty"},
]
maintainers = [
    {name = "bbtufty"},
]

classifiers = [
    #   3 - Alpha
    #   4 - Beta
    #   5 - Production/Stable
    "Development Status :: 4 - Beta",

    # License
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",

    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3 :: Only",
]

dependencies = [
    "arrapi == 1.4.14",
    "beautifulsoup4 == 4.14.3",
    "colorlog == 6.10.1",
    "discordwebhook == 1.0.3",
    "httpx == 0.28.1",
    "pynyaa == 3.0.0",
    "PyYAML == 6.0.3",
    "qbittorrent-api == 2025.11.1",
    "requests == 2.32.5",
    "ruamel.yaml == 0.19.1",
    "seadex == 0.7.2",
    "typer == 0.21.1"
]

[project.scripts]
seadexarr = "seadexarr:seadexarr_cli"

[project.optional-dependencies]
docs = [
    "sphinx-automodapi == 0.22.0",
    "sphinx-rtd-theme == 3.0.2",
]

[project.urls]
"Homepage" = "https://github.com/bbtufty/seadexarr"
"Bug Reports" = "https://github.com/bbtufty/seadexarr/issues"
"Source" = "https://github.com/bbtufty/seadexarr"

[build-system]
requires = [
    "setuptools == 80.9.0",
    "wheel == 0.46.3",
    "setuptools_scm == 9.2.2",
]

build-backend = "setuptools.build_meta"
